<!doctype html>
<head>
	<header><title>Celebrity Juxtaposition</title></header>
</head>
<body>
	<h1>Celebrity Juxtaposition</h1>

	<p></p>
	<p></p>
	<p>
		Celebrity Juxtaposition is at the forefront of arbitrary comparison.
	</p>

	<h4>Endorsements:</h4>

	<p>
		"Rather good." - <i>The Spectator</i>
	</p>

	<p>
		"Breast-free" - <i>The Sun</i>
	</p>

	<p>
		"Better than The Beatles." - <i>New Musical Express</i>
	</p>
	<p><a href="{{ url_for('index') }}">Back to the questions.</a></p>
</body>