<!doctype html>
<head>
  <header><title>Celebrity Juxtaposition</title></header>
  <h1>Celebrity Juxtaposition</h1>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    var $SCRIPT_ROOT = location.href;
    $(function() {
      $('h3#question').hide();
      $('div#question').hide();
      $('div#result').hide();
      $('button#new_question').on('click', function() {
        $('div#result').hide('slow');
        $.getJSON($SCRIPT_ROOT + '_question', {}, function(data) {
          $('h3#question').text(data.question);
          $('button#buttonA').text(data.answerA);
          $('button#buttonB').text(data.answerB);
          $('th#answerA').text(data.answerA);
          $('th#answerB').text(data.answerB); 
          $('h3#question').show('slow');
          $('div#question').show('slow');
        });
        return false;
      });
      $('button#buttonA').on('click', function() {
        $('div#question').hide('slow');
        $.getJSON($SCRIPT_ROOT + '_answer', {}, function(data){
          $('td#aCount').text(data.aCount);
          $('td#bCount').text(data.bCount);
          $('div#result').show('slow');
        });
        return false;
      });
      $('button#buttonB').on('click', function() {
        $('div#question').hide('slow');
        $.getJSON($SCRIPT_ROOT + '_answer', {}, function(data){
          $('td#aCount').text(data.aCount);
          $('td#bCount').text(data.bCount);
          $('div#result').show('slow');
        });
        return false;
      });
    });
  </script>
</head>

<body>
  <h3 id=question>?</h3>
  <div id=question>
    <button type="button" id=buttonA>?</button>
    <button type="button" id=buttonB>?</button>
  </div>
  <div id=result>
    <table>
      <tr>
        <th id=answerA>?</th>
        <th id=answerB>?</th>
      </tr>
      <tr>
        <td id=aCount>?</td>
        <td id=bCount>?</td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <button type="button" id=new_question>New question</button>
</body>